<!DOCTYPE html>
<html>
<head>
    <title>Dutch Treat: @ViewBag.Title</title>
    <!--NOTE: The course used node_modules folder for speed in dev but that causes issues on publish so for now just referring to CDN even in dev-->
    <environment names="Development">
        @*<link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" />*@
        <link href="//stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.css" rel="stylesheet"/>
        <link href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css"rel="stylesheet"/>
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        @*<link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />*@
        <link href="//stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <header class="container">
        <nav class="navbar navbar-dark bg-dark navbar-expand-md">
            <h1 class="navbar-brand"><i class="fa fa-paint-brush"></i> Welcome to Dutch Treat</h1>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#theMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="theMenu" class="navbar-collapse collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" asp-controller="App" asp-action="Index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="App" asp-action="Contact">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="App" asp-action="About">About</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="App" asp-action="Shop">Shop (Angular Version)</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="App" asp-action="ShopMVCVersion">Shop (MVC Version)</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a></li>
                    }
                    else
                    {
                        <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Login">Login</a></li>
                    }


                </ul>
            </div>
        </nav>
    </header>
    <section class="container">
        <h2 class="text-center">@ViewBag.Title</h2>
        @RenderBody()
    </section>

    <footer class="container"><div class="text-center">Copyright @DateTime.Today.Year Dutch Treat Pty Ltd</div></footer>

    <environment names="Development">
        <script src="//code.jquery.com/jquery-3.5.1.js"></script> <!--NOTE: The course used node_modules folder for speed in dev but that causes issues on publish so for now just referring to CDN even in dev-->
        <script src="//ajax.aspnetcdn.com/ajax/bootstrap/4.5.0/bootstrap.js"></script>
        <script src="~/js/index.js"></script>
    </environment>
    <environment names="Staging,Production">
        <!--Check if asp-fallback-src is correct - consider "~lib/jquery/dist/jquery.min.js" -->
        <script src="//code.jquery.com/jquery-3.5.1.min.js"
                asp-fallback-src="~/node_modules/jquery/dist/jquery.min.js" 
                asp-fallback-test="window.jQuery">
        </script>
        <script src="//ajax.aspnetcdn.com/ajax/bootstrap/4.5.0/bootstrap.min.js"
                asp-fallback-src="~/node_modules/bootstrap/dist/js/bootstrap.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/dist/dutchtreat.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("scripts", false)
</body>
</html>